.output.txt.swp
build/
output.txt
fetch/.~lock.train_results.csv#
fetch_eggs-info/
notes.txt
.~lock.train_results.xlsx#
fetch/__pycache__/model.cpython-310.pyc
fetch/tmp.txt
tmp_code.txt
__pycache__
~$train_results.xlsx
/.project
/.pydevproject
