.output.txt.swp
build/
dist/
output.txt
fetch/.~lock.train_results.csv#
fetch.egg-info/
fetch/__pycache__/
notes.txt
.~lock.train_results.xlsx#
fetch/__pycache__/model.cpython-310.pyc
fetch/tmp.txt
fetch/model_info.py
tmp_code.txt
~$train_results.xlsx
/.project
/.pydevproject
